<div class="relative overflow-hidden">
    <div class="overflow-hidden">
        <img [src]="image()" 
            class="w-full object-cover object-top 
            hover:scale-110 duration-500 transition-transform" />
    </div>
    <div class="w-full text-center text-white mt-2">
        <p class="text-xl text-center">
            <span class="uppercase font-bold">{{ nome() }}</span> 
            <br />
            <span class="">{{ cintura() }}</span>
            <br />
            <span class="">{{ descrizione() }}</span>
        </p>
    </div>
</div>