<div class="py-8">

    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9494.848315883315!2d11.110602997271783!3d46.10434890396087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47827187a43fb169%3A0xa7991e0b574452e0!2sCentro%20Sportivo%20%22Trento%20Nord%22%20-%20Piscina%20Gardolo!5e1!3m2!1sit!2sit!4v1717764978998!5m2!1sit!2sit" 
        width="100%" 
        height="550" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 mt-8">
        <div class="text-center">
            <span class="font-bold uppercase text-2xl">INDIRIZZO</span>
            <div class="mt-4">
                <span class="font-bold uppercase">Centro sportivo Trento Nord</span>
                <br />
                <p>Via IV Novembre, 38123 Trento TN</p>
            </div>
        </div>
        <div class="text-center">
            <span class="font-bold uppercase text-2xl">TELEFONI</span>
            <div class="mt-4">
                <span class="uppercase">Marco Manara: XXX-XXXXXXX</span>
                <br />
                <span class="uppercase">Denis Micheletti: XXX-XXXXXXX</span>
                <br />
                <span class="uppercase">Daniele Vianini: XXX-XXXXXXX</span>
            </div>
        </div>
        <div class="text-center">
            <span class="font-bold uppercase text-2xl">EMAIL</span>
            <div class="mt-4">
                <span class="uppercase">{{ 'mmaeaglestrento@gmail.com' }}</span>
            </div>
        </div>
    </div>

</div>