<div class="p-8 2xl:mx-64 xl:mx-24 flex flex-col gap-8">
    <div class="grid md:grid-cols-2 md:gap-6 gap-8 justify-center items-center text-center">

        <p>
            Con <b>arti marziali miste</b> (in inglese mixed martial arts, in acronimo MMA) 
            si indica uno sport da combattimento a contatto pieno il cui regolamento consente 
            l'utilizzo di tutte le tecniche sportive delle arti marziali (karate, muay thai, judo) 
            e degli sport di combattimento (lotta libera, grappling, pugilato, kickboxing). 
            <br />
            <br />
            La definizione deriva dal fatto che queste competizioni erano in origine un confronto diretto fra discipline differenti,
            sebbene nel corso degli anni i praticanti abbiano progressivamente adattato le tecniche più efficienti di ogni singola 
            arte marziale, combinando stili diversi fra loro.
            <br /> 
            Per questa ragione, ad oggi le <b>arti marziali miste</b> si sono di fatto evolute in uno stile a sé stante, 
            che mescola elementi di tutti gli altri
        </p>

        <img src="assets/image/MarcoIntellettuale.avif" class="rounded-lg" />

    </div>

    <div class="rounded-lg overflow-hidden">
        <title-page>Orario Allenamenti</title-page>

        <table class="tableOrari mt-8">
            <thead>
                <tr>
                    <th>Giorno</th>
                    <th>Ora</th>
                    <th>Luogo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lunedi</td>
                    <td>18:30 - 20:30</td>
                    <td>Gardolo</td>
                </tr>
                <tr>
                    <td>Mercoledi</td>
                    <td>19:00 - 20:30</td>
                    <td>Gardolo</td>
                </tr>
                <tr>
                    <td>Venerdi</td>
                    <td>18:30 - 20:30</td>
                    <td>Gardolo</td>
                </tr>
            </tbody>
        </table>
    </div>
   
</div>
