<div class="p-8 grid grid-cols-2 gap-6 justify-center items-center text-center">

    <p>
        Con arti marziali miste (in inglese mixed martial arts, in acronimo MMA) si indica uno sport da combattimento a contatto pieno il cui regolamento consente l'utilizzo di tutte le tecniche sportive delle arti marziali (karate, muay thai, judo) e degli sport di combattimento (lotta libera, grappling, pugilato, kickboxing). La definizione deriva dal fatto che queste competizioni erano in origine un confronto diretto fra discipline differenti, sebbene nel corso degli anni i praticanti abbiano progressivamente adattato le tecniche più efficienti di ogni singola arte marziale, combinando stili diversi fra loro. Per questa ragione, ad oggi le arti marziali miste si sono di fatto evolute in uno stile a sé stante, che mescola elementi di tutti gli altri
    </p>

    <img src="assets/image/MarcoIntellettuale.jpg" class="rounded-lg" />

</div>
