<div class="p-8 2xl:mx-64 xl:mx-24 grid grid-cols-2 gap-6 justify-center items-center text-center">

    <img src="assets/image/Combattimento3.jpg" class="rounded-lg" />

    <p>
        Il <b>Jiu-jitsu brasiliano</b>, spesso abbreviato nell'acronimo in lingua inglese <b>BJJ</b> (Brazilian jiu-jitsu), 
        è un'arte marziale, uno sport da combattimento e un metodo di difesa personale specializzato nella lotta 
        ed in particolare in quella a terra. 
        <br />
        La disciplina insegna come suo fondamento che una persona più piccola 
        e debole può difendersi con successo da un assalitore più grande e più forte portando lo scontro al 
        suolo dove utilizzerà appropriate tecniche come leve, chiavi articolari e strangolamenti. 
        <br />
        <br />
        L'allenamento nel Brazilian jiu-jitsu viene praticato principalmente con il kimono (gi) ma negli ultimi anni 
        si è sviluppato molto anche lo stile senza kimono (no-gi) più utile per gli atleti di MMA (arti marziali miste).
    </p>

</div>
