<div class="top-32 lg:h-[700px] h-[500px] flex justify-center items-center">
    <img src="assets/image/GruppoHeader.jpg" class="w-full h-full object-cover object-top" />
    <!-- <h1 class="absolute text-white uppercase font-extrabold text-6xl text-center">Fly like an <br />eagle</h1> -->
</div>

<div class="w-full py-4 px-4 grid lg:px-0 lg:grid-cols-3 md:grid-cols-2 grid-cols-1">

    <card-style image="assets/image/CombattimentoMarco.jpg" text="MMA" (onClick)="cardStyleClick('mma')" />

    <card-style image="assets/image/BJJ.jpg" text="BJJ" (onClick)="cardStyleClick('bjj')" />

    <card-style image="assets/image/DaniKids.jpg" text="KIDS" (onClick)="cardStyleClick('kids')" />

</div>

<div class="w-full bg-black">
    <!-- <div class="mt-6 p-4 text-white font-extrabold text-3xl text-center">Istruttori</div> -->

    <div class="w-full p-6 grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-6">

        <card-traner 
            image="assets/image/MarcoManara.jpg" 
            nome="Marco manara" 
            cintura="Cintura nera" 
            descrizione="Head Instructor" />
    
        <card-traner 
            image="assets/image/MarcoManara.jpg" 
            nome="Denis Micheletti" 
            cintura="Cintura Marrone" 
            descrizione="Istruttore Adulti" />
    
        <card-traner 
            image="assets/image/MarcoManara.jpg" 
            nome="Chiara Dallapè" 
            cintura="Cintura Viola" 
            descrizione="Istruttore Adulti" />

        <card-traner 
            image="assets/image/MarcoManara.jpg" 
            nome="Daniele Vianini" 
            cintura="Cintura Viola" 
            descrizione="Istruttore Bambini e Adulti" />

        <card-traner 
            image="assets/image/MarcoManara.jpg" 
            nome="Stefano Renzi" 
            cintura="Cintura Viola" 
            descrizione="Istruttore Bambini e Adulti" />

        

        <card-traner 
            image="assets/image/MarcoManara.jpg" 
            nome="Matilde Segalina" 
            cintura="Cintura Blu" 
            descrizione="Istruttore Bambini e Adulti" />

    </div>

</div>
