<div class="top-32 lg:h-[700px] h-[500px] flex justify-center items-center">
    <img src="assets/image/GruppoHeader.jpg" class="w-full h-full object-cover object-top" />
    <!-- <h1 class="text-black uppercase font-extrabold text-6xl text-center">Fly like an <br />eagle</h1> -->
</div>

<div class="w-full py-4 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1">

    <div class="relative overflow-hidden">
        <img src="assets/image/CombattimentoMarco.jpg" class="w-full h-full object-cover object-top" />
        <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center">
            <p class="text-white uppercase font-extrabold text-6xl text-center">MMA</p>
        </div>
    </div>

    <div class="relative overflow-hidden">
        <img src="assets/image/BJJ.jpg" class="w-full h-full object-cover object-top" />
        <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center">
            <p class="text-white uppercase font-extrabold text-6xl text-center">BJJ</p>
        </div>
    </div>

    <div class="relative overflow-hidden">
        <img src="assets/image/DaniKids.jpg" class="w-full h-full object-cover object-top" />
        <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center">
            <p class="text-white uppercase font-extrabold text-6xl text-center">KIDS</p>
        </div>
    </div>

</div>