<div #footer class=" p-36 bg-zinc-400 grid lg:grid-cols-3 lg:gap-0 md:grid-cols-2 grid-cols-1 gap-8">
    <div class="flex justify-center items-center w-full">
        <img src="assets/image/LogoEagles.png" width="300" />
    </div>
    <div class="hidden lg:flex flex-col justify-center items-center w-full">
        <span class="mb-4 text-xl text-center font-bold uppercase">MMAEagles</span>
        <ul class="text-base text-center flex flex-col gap-2">
            <li [routerLink]="['/about-us']" class="hover:cursor-pointer">About Us</li>
            <li [routerLink]="['/bjj']" class="hover:cursor-pointer">BJJ</li>
            <li [routerLink]="['/mma']" class="hover:cursor-pointer">MMA</li>
            <li [routerLink]="['/kids']" class="hover:cursor-pointer">Kids</li>
            <li [routerLink]="['/contacts']" class="hover:cursor-pointer">Contatti</li>
          </ul>
    </div>
    <div class="flex flex-col justify-center items-center w-full">
        <span class="mb-4 text-xl text-center font-bold uppercase">Contatti</span>
        <ul class="text-base text-center flex flex-col gap-2">
            <li>Marco Manara: XXX-XXXXXXX</li>
            <li>Denis Micheletti: XXX-XXXXXXX</li>
            <li>Daniele Vianini: XXX-XXXXXXX</li>
        </ul>
    </div>
</div>
