<nav class="flex justify-between items-center w-full py-8 px-8 bg-black fixed top-0 z-50">
  <img src="assets/image/mmaEagles.png" class="invert" width="130" />

  <div class="lg:hidden text-white text-xl">{{ routePath() }}</div>

  <ul class="hidden lg:flex lg:gap-7 lg:text-white lg:text-xl">
    <li [routerLink]="['/home']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">Home</li>
    <li [routerLink]="['/about-us']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">About Us</li>
    <li [routerLink]="['/bjj']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">BJJ</li>
    <li [routerLink]="['/mma']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">MMA</li>
    <li [routerLink]="['/kids']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">Kids</li>
    <li [routerLink]="['/contacts']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">Contatti</li>
    <li [routerLink]="['/rules']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">Regole</li>
  </ul>
  <div class="hidden lg:flex lg:gap-7 lg:text-white lg:text-lg">
    <a class="fa-brands fa-facebook-f hover:cursor-pointer" href="https://www.facebook.com/mmaeagles/" target="_blank"></a>
    <a class="fa-brands fa-instagram hover:cursor-pointer" href="https://www.instagram.com/mmaeagles_trento/" target="_blank"></a>
  </div>
  <div class="lg:hidden text-white text-2xl hover:cursor-pointer">
    <i class="fa-solid fa-bars" (click)="toggleMobileMenu()"></i>
  </div>
</nav>

@if(enableMobileMenu()) {
  <div 
    class="absolute w-full h-full bg-black/90 flex items-center justify-center z-50"
    [style]="cssScrollOffsetY()">
    <i class="fa-solid fa-x absolute top-8 right-8 text-white text-3xl hover:cursor-pointer"
      (click)="toggleMobileMenu()">
    </i>
    <ul class="text-white text-3xl text-center flex flex-col gap-4">
      <li (click)="toggleMobileMenu()" [routerLink]="['/home']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">Home</li>
      <li (click)="toggleMobileMenu()" [routerLink]="['/about-us']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">About Us</li>
      <li (click)="toggleMobileMenu()" [routerLink]="['/bjj']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">BJJ</li>
      <li (click)="toggleMobileMenu()" [routerLink]="['/mma']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">MMA</li>
      <li (click)="toggleMobileMenu()" [routerLink]="['/kids']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">Kids</li>
      <li (click)="toggleMobileMenu()" [routerLink]="['/contacts']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">Contatti</li>
      <li (click)="toggleMobileMenu()" [routerLink]="['/rules']" routerLinkActive="selected" class="hover:cursor-pointer underline-animation">Regole</li>
    </ul>
    <div class="absolute bottom-0 left-0 w-full flex gap-4 justify-center mb-4 text-white text-2xl">
      <a class="fa-brands fa-facebook-f hover:cursor-pointer" href="https://www.facebook.com/mmaeagles/" target="_blank"></a>
      <a class="fa-brands fa-instagram hover:cursor-pointer" href="https://www.instagram.com/mmaeagles_trento/" target="_blank"></a>
    </div>
  </div>
}
