<section class="p-8">

    <title-page>ASD MMA EAGLES TRENTO</title-page
        >
    <div class="pt-8 2xl:mx-64 xl:mx-24 grid md:grid-cols-2 grid-cols-1 gap-x-6 gap-y-10 justify-center items-center text-center text-base">
        <p class="order-1">
            L'<b>ASD MMA EAGLES TRENTO</b> nasce inizialmente dalla passione di un gruppo di amici per le arti marziali nel 2008.
            <br /> 
            Oggi è un team dinamico e affiatato che si concentra sia sulle arti marziali miste (<b>MMA</b>) sia sul Brazilian Jiu Jitsu (<b>BJJ</b>)
            e sul grappling.
            <br />
            Nel tempo abbiamo ampliato sempre più le possibilità di apprendere e praticare, ed abbiamo mantenuto un ascolto 
            attivo verso i nostri allievi.
            <br /><br />
            Negli ultimi anni abbiamo aggiunto: giorni d'allenamento, ore di confronto, all'enamenti basati sui drill,
            ed inoltre dal 2023 proponiamo anche corsi dedicati ai più <b>piccoli</b> (bambini in fascia 6-15 anni).
            <br />
            Tutto questo per venire incontro a tutte le esigenze dei nostri atleti. 
        </p>

        <img src="assets/image/Saluto2.jpg" class="rounded-lg w-full min-h-[500px] h-full object-cover object-top order-2" />

        <img src="assets/image/Combattimento2.jpg" class="rounded-lg w-full min-h-[500px] h-full object-cover object-bottom md:order-3 order-4" />

        <p class="md:order-4 order-3">
            Nel corso del nostro percorso abbiamo colto molte ispirazioni, anche dalla presenza di cinture nere brasiliane 
            che sono passate per la nostra palestra e hanno lasciato un po' della loro esperienza e un prezioso contributo 
            di cui facciamo tesoro. 
            <br /><br />
            Il titolare è <b>Marco Manara</b>, cintura nera e maestro di BJJ, con una carriera professionistica nelle 
            <b>Mma Italiane</b> (con più di 20 combattimenti all'attivo).
            <br />
            Oggi, assieme a Marco, sono alcuni degli allievi più esperti, ad organizzare le lezioni. 
            Questo ci permette di garantire una presenza su più giorni e di dedicarci sia alla disciplina del BJJ 
            sia alle MMA nello specifico, dividendoci in gruppi diversificati.
            <br/><br/>
            Noi crediamo che le arti marziali siano praticabili da tutti e ci impegniamo per applicare un metodo 
            d'insegnamento che incoraggi il maggior numero di persone a praticarle. 
        </p>

        <p class="order-5">
            <b class="uppercase">Eagles</b>
            <br />
            Ci sentiamo rappresentati dall'aquila perché è un animale rapace noto per la sua grande forza 
            e il suo potere ma rappresenta anche la forza interiore. 
            <br/>
            L'aquila è un animale che lotta per sopravvivere, che si alza in volo con il vento e che affronta 
            le sfide con coraggio. 
            <br/>
            L'aquila è un simbolo di resilienza e di determinazione, e può essere un'ispirazione per coloro
            che cercano di superare le proprie sfide e raggiungere gli obiettivi prefissati.
            <br /><br />
            Curiosità: L’aquila di San Venceslao è anche lo stemma ufficiale della Provincia (e del Comune) di Trento.

        </p>

        <img src="assets/image/ManaraSchiena.jpg" class="rounded-lg w-full min-h-[500px] h-full object-cover object-center order-6" />
    </div>

</section>