<section class="p-8 grid grid-cols-2 gap-6 justify-center items-center text-center">
    
    <p>
        L'ASD MMA EAGLES TRENTO nasce inizialmente dalla passione di un gruppo di amici per le arti marziali nel 2008. 
        Oggi è un team dinamico e affiatato che si concentra sia sulle arti marziali miste (MMA) sia sul Brazilian Jiu Jitsu 
        e sul grappling. Per entrambe le discipline sono dedicati tre allenamenti a settimana, 
        per chi lo desiderasse è possibile aderire a tutti gli allenamenti. 
        Il venerdì entrambi i corsi condividono il Tatami per un ripasso e una porrada! 
        Per quanto riguarda il BJJ e il grappling, MMA EAGLES è affiliata alla Gracie Jiu Jitsu di Bolzano, 
        sotto la guida di Alessandro Federico. MMA EAGLES è iscritto alla FIGMMA, presso CONI.
    </p>

    <img src="assets/image/Saluto2.jpg"  />

    <img src="assets/image/Combattimento2.jpg"  />

    <p>
        L'ASD MMA EAGLES TRENTO nasce inizialmente dalla passione di un gruppo di amici per le arti marziali nel 2008. 
        Oggi è un team dinamico e affiatato che si concentra sia sulle arti marziali miste (MMA) sia sul Brazilian Jiu Jitsu 
        e sul grappling. Per entrambe le discipline sono dedicati tre allenamenti a settimana, 
        per chi lo desiderasse è possibile aderire a tutti gli allenamenti. 
        Il venerdì entrambi i corsi condividono il Tatami per un ripasso e una porrada! 
        Per quanto riguarda il BJJ e il grappling, MMA EAGLES è affiliata alla Gracie Jiu Jitsu di Bolzano, 
        sotto la guida di Alessandro Federico. MMA EAGLES è iscritto alla FIGMMA, presso CONI.
    </p>

    <p>
        L'ASD MMA EAGLES TRENTO nasce inizialmente dalla passione di un gruppo di amici per le arti marziali nel 2008. 
        Oggi è un team dinamico e affiatato che si concentra sia sulle arti marziali miste (MMA) sia sul Brazilian Jiu Jitsu 
        e sul grappling. Per entrambe le discipline sono dedicati tre allenamenti a settimana, 
        per chi lo desiderasse è possibile aderire a tutti gli allenamenti. 
        Il venerdì entrambi i corsi condividono il Tatami per un ripasso e una porrada! 
        Per quanto riguarda il BJJ e il grappling, MMA EAGLES è affiliata alla Gracie Jiu Jitsu di Bolzano, 
        sotto la guida di Alessandro Federico. MMA EAGLES è iscritto alla FIGMMA, presso CONI.
    </p>

    <img src="assets/image/ManaraSchiena.jpg"  />

</section>