<div class="p-8 2xl:mx-64 xl:mx-24 flex flex-col gap-8">

    <title-page>Il Brazilian Jiu Jitsu per i bambini: Un modo divertente e sicuro per imparare</title-page>

    <div class="flex flex-col justify-center items-center text-left">

        <section class="pb-8">
            
            Il Brazilian Jiu Jitsu (BJJ) è molto più di uno sport di combattimento. È un’arte marziale che insegna ai bambini abilità di autodifesa, disciplina e autostima. Ma cosa rende il BJJ così adatto ai più piccoli? Scopriamolo insieme!

            <h2 class="font-bold py-2">1. Sicurezza al primo posto</h2>
            Il BJJ è noto per la sua sicurezza. A differenza di altre arti marziali, non prevede colpi o calci. I bambini imparano a rotolare, a cadere senza farsi male e a controllare le posizioni a terra. Le lesioni alla testa sono rare, rendendo il BJJ una scelta ideale per i genitori attenti alla sicurezza dei loro figli.

            <h2 class="font-bold py-2">2. Movimento e competenza motoria</h2>
            Il BJJ si basa su movimenti fondamentali come rotolamenti, posizioni e leve articolari. Questi sviluppano le abilità motorie e la coordinazione. I bambini imparano a muoversi con agilità e precisione, migliorando la loro consapevolezza del corpo.

            <h2 class="font-bold py-2">3. Ambiente controllato e rispetto reciproco</h2>
            Le scuole di BJJ creano un ambiente controllato. Gli istruttori insegnano il rispetto reciproco, l’umiltà e la disciplina. I bambini imparano a collaborare e a lavorare in squadra. I genitori possono assistere alle sessioni di allenamento e vedere i progressi dei loro piccoli atleti.

            <h2 class="font-bold py-2">4. Benefici a lungo termine</h2>
            Oltre alle abilità fisiche, il BJJ insegna ai bambini importanti valori come la perseveranza, la pazienza e la resilienza. Imparano a gestire lo stress, a superare le sfide e a sviluppare una mentalità positiva. Questi benefici durano tutta la vita.

            <h2 class="font-bold py-2">5. Divertimento garantito!</h2>
            Il BJJ è coinvolgente e divertente. I bambini si divertono a imparare nuove tecniche, a sfidarsi in allenamenti e a partecipare a tornei. È un modo fantastico per farli muovere, socializzare e divertirsi!

            In sintesi, il BJJ è un’opzione eccellente per i bambini. Li aiuta a crescere in modo sano, a sviluppare abilità fisiche e mentali e a divertirsi nel processo. 
        </section>

        <img src="assets/image/KidsRovereto.jpg" class="rounded-lg" />

    </div>

    <div class="rounded-lg overflow-hidden text-center">
        <title-page>Orario Allenamenti</title-page>

        <section class="py-4 font-bold">L'estate siamo fermi, verso metà agosto inseriremo gli orari!</section>
        <!-- <table class="tableOrari mt-8">
            <thead>
                <tr>
                    <th>Giorno</th>
                    <th>Ora</th>
                    <th>Luogo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lunedi</td>
                    <td>18:30 - 20:30</td>
                    <td>Gardolo</td>
                </tr>
                <tr>
                    <td>Mercoledi</td>
                    <td>19:00 - 20:30</td>
                    <td>Gardolo</td>
                </tr>
                <tr>
                    <td>Venerdi</td>
                    <td>18:30 - 20:30</td>
                    <td>Gardolo</td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>