<div class="p-8">
    <title-page>NORME DI CONVIVENZA MMA EAGLES</title-page>
    <section class="pt-8 2xl:mx-64 xl:mx-24">
        <ul class="space-y-5 list-decimal">
            <li>Curare la propria igiene personale: piedi puliti, unghie tagliate, kimono o abbigliamento puliti ed adeguati, lavarsi i denti, non venire in allenamento se si è ammalati, coprire bene con apposite bende o fasce eventuali ferite, lavarsi velocemente prima dell'allenamento se si è sporchi o sudati</li>
            <li>Non camminare scalzi fuori dal tatami, utilizzare sempre ciabatte soprattutto per andare in bagno</li>
            <li>Non indossare braccialetti, collane o orecchini</li>
            <li>Trattare con rispetto tutti indipendentemente dalla cintura o esperienza</li>
            <li>Arrivare in orario alle lezioni</li>
            <li>Prima di salire o scendere dal tatami chiedere il permesso a chi sta facendo la lezione</li>
            <li>Regola la tua forza in allenamento: leve tirate con violenza o movimenti bruschi possono causare infortuni ai compagni</li>
            <li>Condividi le tue conoscenze per far progredire la squadra</li>
            <li>Utilizzare ciò che si impara solo a fini sportivi e non per ledere persone al di fuori della palestra</li>
        </ul>
    </section>
</div>
