@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../public/font/Poppins/Poppins-Regular.ttf");
}

:root {
  --background: #e0ffff;
  --text: #22232e;
  --heading: #022f31;
  --scroll-thumb-button: #383838;
  --scroll-track: #;
}

* {
  font-family: "Poppins";
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-track {
  margin-top: 1px;
  margin-bottom: 1px;
}

*::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 3px solid transparent;
  background-color: #8d8e91;
  border-radius: 99px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6e7072;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #505153;
}

.underline-selected {
  @apply relative before:w-full before:h-1 before:rounded before:origin-right before:transition-transform before:duration-300 
    before:scale-x-0 before:bg-white before:absolute before:left-0 before:bottom-0;
}

.selected {
  @apply relative before:w-full before:h-1 before:rounded
     before:bg-white before:absolute before:left-0 before:bottom-0;
}

.underline-animation:not(.selected) {
  @apply underline-selected hover:before:scale-x-100 hover:before:origin-left;
}

table.tableOrari {
  @apply w-full text-center;
}

table.tableOrari > thead {
  @apply uppercase bg-gray-100/70;
}

table.tableOrari > thead > tr > th {
  @apply px-6 py-3;
}

table.tableOrari > tbody > tr {
  @apply bg-white/70 border-b;
}

table.tableOrari > tbody > tr > td {
  @apply px-6 py-4;
}
